@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

:root {
    --background_color: #010101;
    --text_color: #fff;
    --text_dialog: #010101;
    --angle_color:rgb(81, 81, 81);
    --angle_hover: rgb(251, 161, 7);
	--vs-primary: 29 92 255;
}

body {
    background-color: var(--background_color);
    color: var(--text_color);
    line-height: 1.55;
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text_color);
}



/* !!!!!! */

.head-container {
    position: relative;
}
/* .head-title{} */
.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}

.layer__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    background-image: url(../img/space/Base.png);
}

.layer__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    background-image: url(../img/space/Middle.png);
}

.layer__bottom {
    transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
    background-image: url(../img/space/Front.png);
}

@keyframes tracking-in-expand-fwd {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* section with planets */
#containerPlanets{
    position: relative;
    height: 100vh;
}
.planet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: tracking-in-expand-fwd 0.5s ease-out;
    opacity: 0;
}

.planet-photo {
    animation: myAnim 2s ease 0s 1 normal forwards;
    display: block;
}

@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

 .planet-div-info {
    display: contents
 }

 .planet-div-info-name {
    letter-spacing: 1.3px;
    text-align: center;
 } 

.planet-div-details { 
    display: contents;
}

.btn-container-btn{
    background-color: transparent;
    border: transparent;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    display: flex;
    align-items: center;
    animation: myAnim 2s ease 0s 1 normal forwards;

}

#left{
    left: 15px;
}
#right{
    right: 15px;
    justify-content: end;
}
.angle{
    stroke: var(--angle_color);
    fill: var(--angle_color);
    cursor: pointer;
}

.angle:hover{
    stroke: var(--text_color);
    fill: var(--text_color);
}
div#\ 6{
    height: 650px;
}

@media screen and (max-width:500px) {
    .planet-photo {
        margin: 0 auto;
    }
}
@media screen and (min-width:300px) {
    .planet-card{
        gap: 15px;
        justify-content: center;
        padding: 25px;
        flex-direction: column;
    }
    .planet-photo {
        width: calc((205% - 0px) /2);
    }
    .indicator {
        width: 10px;
        height: 10px;}
}

@media screen and (min-width:700px) {
    .planet-card{
        gap: 20px;
        justify-content: center;
        padding: 0;
        margin: 40px;
        flex-direction: row;
    }
    .planet-photo {
        width: calc((150% - 20px) /2);;
    }
    a .planet-photo{
        width: 650px;
    }
    dialog{
        width: 100%;
    }
    .planet-div-info-name{
        font-size: x-large;
    }

    .planet-div-info{
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 15px;
    }
    .planet-div-details,
    .planet-div-info-desc,
    .planet-link,
    .planet-btnOpen  { 
        font-size: larger;
    }
    .indicator{
        max-width: 25px;
        max-height: 25px;
    }
    .angle{
        width: 50px;
        height: 50px;
    }
}
@media screen and (min-width:1000px) {
    .planet-card{
        padding: 0;
        margin: 70px;
        flex-direction: row;
    }
    
    .planet-div-info-name{
        font-size: xx-large;
    }
    .planet-div-details,
    .planet-div-info-desc,
    .planet-link,
    .planet-btnOpen  { 
        font-size: medium;
    }
    
    .indicator{
        width: 13px;
        height: 13px;
    }
}
dialog {
	padding: 2rem 3rem 1rem 3rem;
    background: white;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text_dialog);
    max-width: 450px;
	animation: fadeIn 1s ease both;
    &::backdrop {
		animation: fadeIn 1s ease both;
		background: rgb(255 255 255 / 40%);
		z-index: 2;
		backdrop-filter: blur(20px);
	}
}

.planet-div-info-desc{
    padding: 10px;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.planet-btnOpen{
  align-items: center;
  border-radius: 24px;
  border-style: none;
  display: inline-flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.3px;
  line-height: normal;
  padding: 1rem 2rem;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  will-change: transform,opacity;
}

.planet-btnOpen:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.planet-btnClose{
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
}

  .pngClose{
    display: flex;
    width: 25px;
    height: 25px;
  }

  .dialog-info-btn{
    width: inherit;
    padding: 1rem 3rem ;
    background: var(--background_color);
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    
  }
  .planet-link{
    letter-spacing: 1px;
    color: var(--text_color);
    font-family: 'Montserrat', sans-serif ;
    width: 100%;
    display: block;
  }

  .indicator-container {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .indicator {
    border-radius: 50%;
    background-color: var(--angle_color);
    margin: 0 8px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: var(--text_color);
  }
  