@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

:root {
    --background_color: #010101;
    --text_color: #fff;
    --text_dialog: #010101;
    --angle_color:rgb(81, 81, 81);
}

body {
    font-family: 'Gaegu', sans-serif;
    background-color: var(--background_color);
    color: var(--text_color);
    line-height: 1.55;
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text_color);
}

/* !!!!!! */

.head-container {
    position: relative;
}
/* .head-title{} */
.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}

.layer__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}

.layer__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layer__bottom {
    transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
}

@keyframes tracking-in-expand-fwd {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* section with planets */
#containerPlanets{
    position: relative;
}
.planet-card {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 50px;
    animation: tracking-in-expand-fwd 0.5s ease-out;
    opacity: 0;
}

.planet-photo {
    width: calc((105% - 100px) /2);
    animation: myAnim 2s ease 0s 1 normal forwards;
    text-align: center;
}

@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

 .planet-div-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .planet-div-info-name {
    letter-spacing: 1.3px;
    text-align: center;
    margin-bottom: 10px;

 } 

.planet-div-info-desc {
    margin-bottom: 10px;
}

.planet-div-details { 
    margin-bottom: 10px;
    display: contents;
}

.planet-link {
    color: var(--text_dialog);;
} 
.btn-container-btn{
    background-color: transparent;
    border: transparent;
    position: absolute;
    top: 80%;
    width: 25%;
    display: flex;
    align-items: center;
    animation: myAnim 2s ease 0s 1 normal forwards;

}
@media screen and (max-width:700px) {
    .planet-card{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    .planet-photo {
        width: calc((222% - 0px) /2);;
    }
    dialog{
        width: 100%;
    }
    .btn-container-btn {
        top: 56.2%;
    }
}
#left{
    left: 15px;
}
#right{
    right: 15px;
    justify-content: end;
}
.angle{
    stroke: var(--angle_color);
    fill: var(--angle_color);
}

@media (hover: hover){
    .angle:hover{
        opacity: 0;
    }
}

dialog {
    padding: 50px 40px 15px 15px;
    background: white;
    height: fit-content;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text_dialog);
}
.planet-btnOpen{
  align-items: center;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  padding: 2px 24px;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  will-change: transform,opacity;
}

.planet-btnOpen:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.planet-btnClose{
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
}

  .pngClose{
    display: flex;
    width: 25px;
    height: 25px;
  }
 .vertical-slider { 
    position: relative;
  }