@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

:root {
    --background_color: #010101;
    --text_color: #fff
}

body {
    font-family: 'Gaegu', sans-serif;
    background-color: var(--background_color);
    color: var(--text_color);
    line-height: 1.55;
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text_color);
}

/* !!!!!! */

.head-container {
    position: relative;
    /* height: 100vh; */
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* .layer-name {} */

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}

.layer__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}

.layer__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layer__bottom {
    transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
}

@keyframes tracking-in-expand-fwd {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* section with planets */
.planet-card {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 50px;
    animation: tracking-in-expand-fwd 0.5s ease-out;
    opacity: 0;
}

.planet-photo {
    width: calc((105% - 100px) /2);
    animation: myAnim 2s ease 0s 1 normal forwards;
    text-align: center;
}

@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

 /* .planet-div-info {} */

 .planet-div-info-name {
    letter-spacing: 1.3px;
    text-align: center;
    margin-bottom: 10px;

 } 

.planet-div-info-desc {
    margin-bottom: 10px;
    width: 400px;
}

.planet-div-details { 
    margin-bottom: 10px;
}

/* .planet-div-details-volume {} */

/* .planet-div-details-mass {} */

.planet-link:hover {
    color: blanchedalmond;
} 
@media screen and (max-width:700px) {
    .slide {
        flex-direction: column;
        gap: 20px;
        /* padding: 20px; */
    }
    .planet-card{
        padding: 20px;
    }
    .planet-photo {
        width: calc((120% - 0px) /2);
    }
}
.btn-container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#left{
transform: translateY(-50%);
top: 50%;
left: 0;
position: absolute;
}

#right{
transform: translateY(-50%);
top: 50%;
right: 0;
position: absolute;
}


 .vertical-slider { 
   width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .slider {
    position: absolute;
    display: flex;
  }
  
  .slide {
    flex-grow: 1;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* .thumb {
    position: absolute;
    left: 0;
    height: 10%;
    background-color: #4285f4;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }  */